{% extends 'base.html' %}

{% block title %}ثبت نام در سایت{% endblock title %}

{% block style %}
#form-input-wrapper-1 {
    display: flex ;
}

#form-input-wrapper-2, #form-input-wrapper-3, #form-input-wrapper-4, #form-input-wrapper-5 {
    display: none ;
}

#submit-form {
    display: none;
}

#back-button {
    display: none;
}

#doc_input, #fish_input {
    display: none;
}
{% endblock style %}

{% block content %}

<div class="container-lg">
    <div class="p-5 d-lg-flex">
        <div class="form-wrapper col-lg-6 col-12">
            <div class="form-container mt-5">
                <form class="d-flex justify-content-center flex-wrap pe-5" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div id="form-input-wrapper-1" class="w-100 justify-content-center flex-wrap">
                        <div class="heading-wrapper d-lg-none text-center w-100">
                            <h2>اطلاعات پروفایل</h2>
                        </div>
                        {{ profile_form.first_name }}
                        {{ profile_form.last_name }}
                        {{ profile_form.national_code}}
                    </div>
                    <div id="form-input-wrapper-2" class="w-100 justify-content-center flex-wrap" >
                        <div class="heading-wrapper d-lg-none text-center w-100">
                            <h2>تکمیلی</h2>
                        </div>
                        {{ profile_form.email_address }}
                        {{ profile_form.address}}
                        <label for="id_profile_pic">عکس پروفایل خود را بارگذاری کنید</label>
                        {{ profile_form.profile_pic }}
                    </div>
                    {% comment %} <div id="form-input-wrapper-3" class="w-100 justify-content-center flex-wrap">
                        <div class="heading-wrapper d-lg-none text-center w-100">
                            <h2>ضمانت</h2>
                        </div>
                        <select class="form-control px-4 py-2 mt-4 w-75" id="typePays" onchange="typeOfPays(this)">
                            <option value="default">انتخاب حالت پرداخت</option>
                            <option value="fish">ادامه با فیش حقوقی یا پروانه کسب</option>
                            <option value="document">ادامه با سند</option>
                            <option value="card">ادامه با کارت یارانه</option>
                        </select>
                        <label class="form-control px-4 py-2 mt-4 w-75" id="doc_input">
                            {{ payment_form.document }}
                            بارگذاری تصویر سند ملکی
                        </label>
                        <label class="form-control px-4 py-2 mt-4 w-75" id="fish_input">
                            <input type="file" class="d-none"/>
                            بارگذاری تصویر فیش حقوقی یا پروانه کسب
                        </label>
                    </div> {% endcomment %}
                    <div class="w-100 justify-content-center flex-wrap" id="form-input-wrapper-3">
                        <div class="heading-wrapper d-lg-none">
                            <h2>اطلاعات کارت</h2>
                        </div>
                        {{ payment_form.shaba }}
                        {{ payment_form.card }}
                    </div>
                    <div class="w-100 justify-content-center flex-wrap" id="form-input-wrapper-4">
                        <div class="heading-wrapper d-lg-none">
                            <h2>مقدار وام درخواستی</h2>
                        </div>
                        {{ payment_form.amount }}
                    </div>
                    <div class=" d-grid gap-2 w-75 mt-5">
                        <button type="button" id="continue-button" onclick="handleFormSteps('forward')" class="btn btn-success py-3">ادامه</button>
                        <button type="submit" id="submit-form" class="btn btn-primary py-3">ثبت و ارسال اطلاعات</button>
                        <button type="button" id="back-button" onclick="handleFormSteps('back')" class="btn btn-danger py-3">بازگشت</button>
                     </div>
                </form>
            </div>
        </div>
        <div class="image-wrapper col-lg-6 col-12 d-lg-flex d-none justify-content-center">
            <div style="position: absolute; top: 15rem;"><img src="/media/site/paven.svg" width="133" alt=""></div>
        </div>
    </div>
</div>

<div class="d-lg-block d-none steps-holder">
    <div class="p-3">
        <div class="w-100 py-2 px-4">درخواست وام</div>
        <div class="w-100 py-2 px-4">اطلاعات هویتی</div>
        <div class="w-100 py-2 px-4">اعتبارسنجی</div>
        <div class="w-100 py-2 px-4">پرداخت وام</div>
    </div>
</div>

{% endblock content %}


