{% extends 'base.html' %}

{% block title %}پروفایل کاربر{% endblock title %}
{% block style %}
.avatar-container {
    width: max-content;
    height: max-content;
    display: block;
    float: left;
}
.heading-container {
    align-items: center !important;
}
.profile-table {
    width: 100%;
}

{% endblock style %}


{% block content %}
    <div class="container-lg px-5">
        <div class="p-5">
            <div class="d-flex">
                <div class="col-6 d-flex heading-container">
                    <h1>پروفایل</h1>
                </div>
                <div class="col-6">
                    <span class="avatar-container">
                    {% if user_.profile.profile_pic %}
                        <img src="{{ user_.profile.profile_pic.url }}" style="width: 118px;height: 118px;" class="rounded-circle"/>
                    {% else %} 
                        <img src="/media/site/avatar.svg" style="width: inherit"/>
                    {% endif %}
                    </span>
                </div>
            </div>
            <div>
                <table class="profile-table mt-5">
                    <tbody>
                        <tr>
                            <td>نام</td>
                            <td>{{ user_.profile.first_name }}</td>
                        </tr>
                        <tr>
                            <td>نام خانوادگی</td>
                            <td>{{ user_.profile.last_name }}</td>
                        </tr>
                        <tr>
                            <td>شماره ملی</td>
                            <td>{{ user_.profile.national_code }}</td>
                        </tr>
                        <tr>
                            <td>شماره موبایل</td>
                            <td>{{ user_.phone_number }}</td>
                        </tr>
                        <tr>
                            <td>آدرس ایمیل</td>
                            <td>{{ user_.profile.email_address }}</td>
                        </tr>
                        <tr>
                            <td>{{ user_.profile.address }}</td>
                            <td>
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    مشاهده درخواست و اطلاعات پرداخت
                                  </button>
                                  
                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="exampleModalLabel">مشاهده درخواست کاربر</h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <table class="w-100">
                                            <tr>
                                                <td>شماره کارت</td>
                                                <td>{{ user_.payment.card }}</td>
                                            </tr>
                                            <tr>
                                                <td>شماره شبا</td>
                                                <td>{{ user_.payment.shaba }}</td>
                                            </tr>
                                            <tr>
                                                <td>مقدار وام درخواستی</td>
                                                <td>{{ user_.payment.amount }}</td>
                                            </tr>
                                          </table>
                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">بستن</button>
                                          {% if is_admin %}
                                          <button type="button" class="btn btn-primary">تایید درخواست</button>
                                          {% endif %}
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}